/// Class for active link
.active {
  color: totoo-color('accent');
}

.text-container {
  @include size(100%);
  flex-wrap: wrap;
  text-align: center;
}

.text-align {
  &-l {
    text-align: left;
  }

  &-c {
    text-align: center;
  }

  &-r {
    text-align: right;
  }
}

a,
.link {
  @include create-font(
          $font-family: 'primary',
          $font-size: $font-size-text,
          $font-weight: $font-weight-text,
          $color: 'text-primary');

  &:hover {
    color: lighten(totoo-color('accent'), $color-interval);
  }
}

p {
  @include create-font(
          $font-family: 'secondary',
          $font-size: $font-size-text,
          $color: 'primary');
}

.section {

  &__title-black {
    @include create-font(
            $font-family: Overpass,
            $font-size: 3em,
            $font-weight: $font-weight-title,
            $color: 'text-secondary');
  }

  &__title-white {
    @include create-font(
            $font-family: 'Overpass',
            $font-size: 3em,
            $font-weight: $font-weight-title,
            $color: 'text-primary');
  }

  &__subtitle-black {
    @include create-font(
            $font-family: 'Overpass',
            $font-size: $font-size-subtitle,
            $font-weight: $font-weight-subtitle,
            $color: 'text-secondary');
  }

  &__subtitle-white {
    @include create-font(
            $font-family: 'Overpass',
            $font-size: $font-size-subtitle,
            $font-weight: $font-weight-subtitle,
            $color: 'text-primary');
  }

}

.homepage {

  &__title {
    @include create-font(
            $font-family: Overpass,
            $font-size: $font-size-title-big,
            $font-weight: $font-weight-title,
            $color: 'text-primary');
  }

  &__subtitle {
    @include create-font(
            $font-family: 'Overpass',
            $font-size: 2.5em,
            $font-weight: $font-weight-subtitle,
            $color: 'text-primary')
  }

}

* {
  transition: $transition-time ease;
}